<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
</head>
<body>
    @RenderBody()
    <header>
        <nav class="mnu">
            <div class="container">
                <div class="logo" id="logo">
                    <h1><a href="index.html">Reaping</a></h1>
                </div>
                <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-1">
                    <li class="mr-lg-4 mr-3 active"><a href="index.html">Home</a></li>
                    <li class="mr-lg-4 mr-3"><a href="#services" class="scroll">Services</a></li>
                    <li class="mr-lg-4 mr-3"><a href="#about" class="scroll">About</a></li>
                    <li class="mr-lg-4 mr-3"><a href="#news" class="scroll">News</a></li>
                    <li><a href="#contact" class="scroll">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- banner -->
    <div class="banner">
        <div class="agile_banner_info">
            <div class="row banner_agile_para">
                <div class="col-lg-9 ban-text">
                    <h2>Nulla viverra pharetra sem, eget pulvinar neque</h2>
                </div>
                <div class="col-lg-3 ban-buton">
                    <a href="#services" data-toggle="modal" data-target="#exampleModalCenter" role="button"> Read More </a>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->




    @Html.Partial("_footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>